{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1 class="text-center my-5">Tous Nos Wilders</h1>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-3 row-cols-md-2 g-5">
        {% for wilder in wilders %}
        <div class="col mb-4">
            <div class="card shadow-sm border-card-wilder">
                <div class="card-img-wilder">
                    <img class="card-img-top" src="{{ wilder.url ?? 'https://www.w3schools.com/w3images/avatar2.png' }}" alt="profile-picture">
                </div>
                <div class="card-body card-body-wilder">
                    <p class="card-text pink-color title-name-card">{{ wilder.lastname }} {{ wilder.firstname }}</p>
                    <p class="card-text">Email : {{ wilder.email }}</p>
                    <div class="d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-primary btn-sm px-4 py-2">Voir {{ wilder.firstname }} CV</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
