{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <div class="table-experience">
            <h2 class="text-center mb-4">Vos Expériences</h2>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('delete-success') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th class="align-middle" scope="col" style="width: 18%">Année</th>
                        <th class="align-middle" scope="col" style="width: 15%">Poste</th>
                        <th class="align-middle" scope="col">Description</th>
                        <th class="align-middle" scope="col" style="width: 14%">Entreprise</th>
                        <th class="align-middle" scope="col" style="width: 10%">Ville</th>
                        <th class="align-middle" scope="col" style="width: 13%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for experience in experiences %}
                    <tr>
                        <td class="align-middle">{{ experience.year }}</td>
                        <td class="align-middle">{{ experience.title }}</td>
                        <td class="align-middle">{{ experience.description }}</td>
                        <td class="align-middle">{{ experience.company }}</td>
                        <td class="align-middle">{{ experience.city }}</td>
                        <td class="align-middle d-flex"><a class="btn btn-primary px-3 mx-3" href="{{ path("experience_edit", {id: experience.id}) }}"><i class="far fa-edit"></i></a>
                            {{ include('experience/_form_delete.html.twig') }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
        <hr class="my-4">
        <div class="form-experience w-75 mx-auto">
            <h2 class="text-center mt-5">Ajouter Une Expérience</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="button-form">
                <button class="btn btn-primary btn-lg w-50" type="submit">Sauvegarder</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
